<div class="marketplace">
  <div class="marketplace__header">
      
    <h1>Marketplace</h1>
    
    <div class="marketplace__search form-group ms-auto me-3">
      <i class="bi bi-search form-control-icon"></i>
      <input
        type="search"
        class="form-control"
        placeholder="Search producer..."
        maxlength="50"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
      />
    </div>

    <div>
      <select class="form-select" id="sortSelect" [(ngModel)]="sortOption" (change)="onFiltersChange()" name="sortOption">
        <option value="priceAsc">Price: Low to High &uarr;</option>
        <option value="priceDesc">Price: High to Low &darr;</option>
        <option value="volumeAsc">Volume: Low to High &uarr;</option>
        <option value="volumeDesc">Volume: High to Low &darr;</option>
        <option value="distanceAsc">Distance: Low to High &uarr;</option>
        <option value="distanceDesc">Distance: High to Low &darr;</option>
      </select>
    </div>
  </div>

  <div class="marketplace__producers">
    <div class="marketplace__filters">
      <div class="mb-3">
        <label for="contractTypeInput" class="form-label">Contract Type:</label>
      
        <div class="form-check">
          <input class="form-check-input" type="radio" name="contractType" id="directPurchaseRadio"
            [(ngModel)]="contractType" (change)="setProducers()" value="Direct Purchase">
          <label class="form-check-label" for="directPurchaseRadio">
            Direct Purchase
          </label>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="radio" name="contractType" id="PPARadio"
            [(ngModel)]="contractType" (change)="setProducers()" value="PPA">

          <label class="form-check-label" for="PPARadio">
            PPA
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="postalCodeInput" class="form-label">Location:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="postalCodeInput" placeholder="Postal code"
            [(ngModel)]="postalCode" (ngModelChange)="onFiltersChange()" name="postalCode">

          <button class="btn btn-secondary" type="button" id="button-locate" (click)="onLocateClick()">
            <i class="bi bi-geo-alt-fill"></i>
          </button>
        </div>        
      </div>

      <div class="mb-3">
        <label class="form-label">Volume:</label>
        
        <div class="input-group mb-2">
          <span class="input-group-text w-25">Min.</span>
          <input type="number" class="form-control" [(ngModel)]="minVolume" (ngModelChange)="onFiltersChange()" name="minVolume" placeholder="kg">
        </div>
      
        <div class="input-group">
          <span class="input-group-text w-25">Max.</span>
          <input type="number" class="form-control" [(ngModel)]="maxVolume" (ngModelChange)="onFiltersChange()" name="maxVolume" placeholder="kg">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Price:</label>
        
        <div class="input-group mb-2">
          <span class="input-group-text w-25">Min.</span>
          <input type="number" class="form-control" [(ngModel)]="minPrice" (ngModelChange)="onFiltersChange()" name="minPrice" placeholder="$/kg">
        </div>
      
        <div class="input-group">
          <span class="input-group-text w-25">Max.</span>
          <input type="number" class="form-control" [(ngModel)]="maxPrice" (ngModelChange)="onFiltersChange()" name="maxPrice" placeholder="$/kg">
        </div>
      </div>

    </div>

    <div class="marketplace__list">
      @for (producer of filteredProducers; track producer.id) {
        <div class="marketplace__list__item" (click)="onProducerClick(producer.id)">

          <div class="marketplace__list__item__image">
            <img [src]="producer.logo_url" alt="Producer image"> 
          </div>

          <div>
            <h2>
              {{ producer.name }}
            </h2>
            <div>
              100km
            </div>
          </div>

          <div class="marketplace__list__item__info ms-auto">
            @if (contractType === 'PPA') {
              <div class="marketplace__list__item__trapezoid marketplace__list__item__trapezoid--ppa">
                <div class="marketplace__list__item__price fs-5">
                  <div class="fst-italic fs-6">
                    Starting offer :
                  </div>
                  <div>
                    {{ producer.dollars_per_kg }} $/kg
                  </div>
                  <div>
                    Contract: {{ producer.contract_duration }} years
                  </div>
                </div>
              </div>
            } @else {
              <div class="marketplace__list__item__trapezoid marketplace__list__item__trapezoid--dp">
                <div class="marketplace__list__item__price fs-5">
                  <div>
                    {{ producer.dollars_per_kg }} $/kg
                  </div>
                  <div>
                    Available volume: {{ producer.available_kg }} kg
                  </div>
                </div>
              </div>
            }
          </div>
          
        </div>
      } @empty {
        @if (loading) {
          <div class="marketplace__list__item marketplace__list__item--loading">
            <h2>Loading...</h2>
          </div>
        } @else if (filteredProducers.length === 0) {
          <div class="marketplace__list__item marketplace__list__item--loading">
            <h2>No producers found</h2>
          </div>
        }
      }
    </div>
  </div>
</div>
