<nav class="navbar navbar-expand-lg navbar--absolute">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/marketplace">Marketplace</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="" fragment="producer">Producer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="" fragment="consumer">Consumer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="" fragment="about-us">About Us</a>
        </li>
      </ul>

      <div class="nav-item">
        @if (isLoggedIn) {
          <div class="nav-item dropdown mx-2">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i><span class="ms-2">{{ profile.name }}</span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item-text fst-italic">{{ profile.role }}</span></li>
                <li><button class="dropdown-item">My Products</button></li>
                <li><button class="dropdown-item">My Purchases</button></li>
                <li><button class="dropdown-item" (click)="logout()">Log Out</button></li>
            </ul>
          </div>

          
        } @else {
          <button class="btn btn-primary btn-login">
            <a class="nav-link" routerLink="/login">Login/Register</a>
          </button>
        }
      </div>
    </div>
  </div>
</nav>
