$primary: #426b1f;
$secondary: #535353;
$btn-border-radius: 8px;
$btn-padding-y: 8px;
$btn-padding-x: 16px;
$btn-font-weight: 500;
$nav-link-font-weight: 500;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
